<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title>Weather App</title>
  <!-- <script src="./jquery.js"></script> -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="./script.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js" integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg==" crossorigin=""></script>

<!--
<script>
$(".form-inline").submit(function (event) {
        if ($("#city").val().length <= 2) {
        event.preventDefault();
            $("#messageErreur").html("<p><b>Merci de saisir un nom de ville supérieur à deux caractères !!!</p></b>");
        }
      //  else {
        //  event.preventDefault();
                  //  $("#messageErreur").html("Merci de saisir un nom de ville supérieur à deux caractères !!!");
              //  }
            });
</script>
-->
</head>
<body>
<div id="mapid" style="height: 400px;"></div>
  <div class="container sectionCity">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-2 col-sm-8">
        <form class="form-inline" action="/add">
          <div class="form-group">
            <label for="city">Ville</label>
            <input type="text" class="form-control" name="city" id="city" placeholder="Lyon, Paris ...">
          </div>
          <button type="submit" id="btn-valide" class="btn btn-warning">Enregistrer</button>

        </form>
      </div>
    </div>
  </div>

<div id="messageErreur"></div>

  <div id="content">

  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-2 col-sm-8">
        <ul class="list-group" id="sortable">
<%
for (var i =0; i<cityList.length; i++){
%>
  <li id='<%=[i]%>' data-long="<%=cityList[i].coord.lon%>" data-lat="<%=cityList[i].coord.lat%>"  class="list-group-item"><span class="city"><%=cityList[i].name%></span> <img class="logo-meteo" src="http://openweathermap.org/img/w/<%=cityList[i].weather[0].icon%>.png"> <span class="desc"><%=cityList[i].weather[0].description%></span> <span class="label label-warning"><%=cityList[i].main.temp_max%> °C</span> <span class="label label-default"><%=cityList[i].main.temp_min%> °C</span>
    <span class="btn btn-danger" data-temp="<%=cityList[i].main.temp%>" data-long="<%=cityList[i].coord.lon%>" data-lat="<%=cityList[i].coord.lat%>" role="button">Info</span><a href="/delete?position=<%=i%>"><span class="glyphicon glyphicon-remove-circle"></span></a></li>
<%
}
%>

<!--
          <li class="list-group-item"><span class="city">Lyon</span> <img class="logo-meteo" src="http://openweathermap.org/img/w/02d.png"> <span class="desc">nuageux</span> <span class="label label-warning">26 °C</span> <span class="label label-default">17 °C</span> <a href=""><span class="glyphicon glyphicon-remove-circle"></span></a></li>
          <li class="list-group-item"><span class="city">Paris</span> <img class="logo-meteo" src="http://openweathermap.org/img/w/01d.png"> <span class="desc">ciel dégagé</span> <span class="label label-warning">24.3 °C</span> <span class="label label-default">13.2 °C</span> <a href=""><span class="glyphicon glyphicon-remove-circle"></span></a></li>
          <li class="list-group-item"><span class="city">Marseille</span> <img class="logo-meteo" src="http://openweathermap.org/img/w/01d.png"> <span class="desc">ciel dégagé</span> <span class="label label-warning">22.4 °C</span> <span class="label label-default">14 °C</span> <a href=""><span class="glyphicon glyphicon-remove-circle"></span></a></li>
-->


        </ul>
      </div>
    </div>
  </div>

</body>
</html>
